/* Общие стили */

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px clamp(0rem, 34.742vw - 8.143rem, 23.125rem);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--theme-color, #fff);
  background-image: var(--background-gradient);
  background-position: center;
  background-attachment: fixed;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-weight-text, 400);
  font-size: 18px;
  color: var(--accent-color, #000);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.strech-block {
  background-color: var(--theme-color, #fff);
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  border: 2px solid var(--accent-color, #000);
}

/* Шапка */

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--accent-font, Fantasy);
  padding: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem)
    clamp(0.875rem, -1.469rem + 10vw, 7.531rem) 25px;
  margin-block-end: 100px;
}

.header__logo {
  cursor: text;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  margin-block-end: 23px;
  font-weight: 400;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-inline-start: 17px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -13px;
  animation: arrow-translate 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color, #000);
  inline-size: 84%;
  block-size: 2px;
  inset-inline-start: 8%;
  inset-block-end: -2px;
  scale: 0 1;
  transform-origin: 0 0;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transition: scale 0.3s ease;
  scale: 1 1;
}

/* Основной контет */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Карточки */

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--card-weight-title, 700);
  padding: 3px 10px;
  line-height: 23px;
}

.card__image-block {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  border-block: 2px solid var(--accent-color, #000);
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.card__image__blur {
  filter: blur(15px);
}

.card__image__brightness {
  filter: brightness(20%);
}

.card__image__contrast {
  filter: contrast(300%);
}

.card__image__grayscale {
  filter: grayscale(100%);
}

.card__image__hue {
  animation: hue-rotate 0.5s infinite linear;
}

.card__image__invert {
  filter: invert(100%);
}

.card__image__saturate-hue {
  filter: saturate(0.5) hue-rotate(90deg);
}

.card__image__sepia {
  filter: sepia(100%);
}

.watermark {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 28px;
  font-family: var(--accent-font, Fantasy);
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  text-transform: uppercase;
  text-shadow: 0 1px var(--watermark-shadow, #fff),
    0 -1px var(--watermark-shadow, #fff), 1px 0 var(--watermark-shadow, #fff),
    -1px 0 var(--watermark-shadow, #fff);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--theme-color, #fff);
    text-stroke: 1px var(--theme-color, #fff);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 24px 25px 24px;
  line-height: 21px;
}

.card__button-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 25px 25px 0;
  gap: 5px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  block-size: 38px;
  cursor: pointer;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button {
  background-color: var(--theme-color, #fff);
  border: 2px solid var(--accent-color, #000);
  font-family: var(--accent-font, Fantasy);
  color: var(--button-text-color, #fff);
  line-height: 90%;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.button::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color, #000);
  inset: 0;
  scale: 0 1;
  transition: scale 0.5s ease-in-out;
  transform-origin: 0;
}

.button:hover::before {
  scale: 1 1;
}

.card__like-button {
  padding: 9px 17px;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 2;
  text-wrap: nowrap;
  mix-blend-mode: difference;
}

.save-form {
  margin-block-start: 52px;
}

.save__button {
  inline-size: 339px;
  block-size: 55px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
}

.save__button-floppy {
  color: var(--button-text-color, #fff);
  inline-size: 21px;
  mix-blend-mode: difference;
}

/* Всплывающее окно */

.dialog {
  background-color: var(--theme-color, #fff);
  border: 2px solid var(--accent-color, #000);
  color: var(--accent-color, #000);
  mix-blend-mode: normal;
  font-family: var(--accent-font, Fantasy);
  inline-size: clamp(21.313rem, 1.502vw + 20.96rem, 22.313rem);
  padding: 30px;
  block-size: 195px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__text-block {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-areas: "dialog-floppy-icon dialog-title";
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.dialog__save-floppy {
  color: var(--accent-color, #000);
  inline-size: 100%;
  block-size: 100%;
  grid-area: dialog-floppy-icon;
}

.dialog__title {
  font-size: 14px;
  font-family: var(--accent-font, Fantasy);
  line-height: 150%;
  color: var(--accent-color, #000);
  text-transform: uppercase;
  grid-area: dialog-title;
}

.dialog__form {
  inline-size: 100%;
  block-size: 38px;
}

.dialog__button {
  inline-size: 100%;
  block-size: 100%;
  text-transform: uppercase;
  padding: 9px 17px;
}

/* Медиа запросы */

@media (width <= 376px) {
  .strech-block {
    inline-size: 100%;
    padding-inline: 0;
  }

  .watermark {
    inset-inline-end: 12px;
    inset-block-start: 25px;
  }

  .dialog {
    padding: 30px 40px;
  }

  .save__button {
    block-size: 80px;
    inline-size: 310px;
    flex-direction: column;
  }

  .save__button-floppy {
    inline-size: 28px;
  }
}
