:root.theme-dark {
  --background-gradient: repeating-linear-gradient(
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#007f0c, #004306);
  --card-weight-title: 785;
  --main-weight-text: 465;
  --accent-color: #00cc14;
  --theme-color: #000;
  --watermark-shadow: #000;
  --button-text-color: #00cc14;
  --heart-contour-color: #00cc14;
}

:root.theme-light {
  --background-gradient: repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --main-weight-text: 400;
  --card-weight-title: 700;
  --accent-color: #000;
  --theme-color: #fff;
  --watermark-shadow: #fff;
  --button-text-color: #fff;
  --heart-contour-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-gradient: repeating-linear-gradient(
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        90deg,
        #000,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(#007f0c, #004306);
    --card-weight-title: 785;
    --main-weight-text: 465;
    --accent-color: #00cc14;
    --theme-color: #000;
    --watermark-shadow: #000;
    --button-text-color: #00cc14;
    --heart-contour-color: #00cc14;
  }
}
